html{
    scroll-behavior: smooth;
}
#nav{
    background-color: #ffffffcc !important;
    backdrop-filter: blur(5px);
    z-index: 2001;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    display: none;
}
.show{
    display: block;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}